<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Header</title>
  <link rel="stylesheet" href="../src/output.css"/>
</head>
<body class="bg-gray-100">
  <header class="fixed top-0 left-0 w-full z-50 bg-transparent backdrop-blur-md  border-b border-white/10">
  <div class="max-w-7xl mx-auto px-6 py-4 flex items-center justify-between">
    <div class="flex items-center gap-2">
      <img src="https://cdn.prod.website-files.com/5dd7315081d3e97c21e69c0f/5dd7c04c4e896a0ca249c4cd_logo-white.png" alt="Logo" class="h-8">
    </div>
    <nav class=" flex flex-wrap justify-between gap-6 text-white text-lg font-normal">
      <a href="#" class="hover:text-[#fcb621] transition">Home</a>
      <a href="#" class="hover:text-[#cfd44a] transition">Services</a>
      <a href="#" class="hover:text-[#fcb621] transition">Blog</a>
      <a href="#" class="hover:text-[#fcb621] transition">Contact</a>
      <a href="#" class="hover:text-[#fcb621] transition">About Us</a>
      <a href="#" class="hover:text-[#fcb621] transition">FAQ</a>
    </nav>
    <div class="hidden md:block">
      <a href="#" class="bg-[#fcb621] text-white font-semibold px-4 py-2 rounded-md hover:bg-[#e0a80d] transition">
        Login
      </a>
    </div>
  </div>
</header>
</body>
</html>
