<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/output.css">
</head>
<body>
    <header class="bg-[url('/your-bg.jpg')] bg-cover bg-center backdrop-blur-sm">
    <div class="max-w-7xl mx-auto px-4 py-4 flex items-center justify-between">
    <div class="flex items-center">
         <img src="https://cdn.prod.website-files.com/5dd7315081d3e97c21e69c0f/5dd7c04c4e896a0ca249c4cd_logo-white.png" alt="Logo" class="h-8">
    </div>
    <nav class="flex gap-8 text-white text-lg font-normal">
      <a href="#" class="hover:text-[#fcb621]">Home</a>
      <a href="#" class="hover:text-[#fcb621]">Services</a>
      <a href="#" class="hover:text-[#fcb621]">Blog</a>
      <a href="#" class="hover:text-[#fcb621]">Contact</a>
      <a href="#" class="hover:text-[#fcb621]">About US</a>
      <a href="#" class="hover:text-[#fcb621]">FAQ</a>
    </nav>
    <a href="#" class="bg-[#fcb621] text-white px-4 py-2 rounded-lg hover:bg-[#fcb721ad]">Login</a>
  </div>
</header>
</body>
</html>